##<!-- $Header: Exp $ -->
## Assignments - reorder view
<script type="text/javascript"
  src="/sakai-assignment-tool/fluid/Fluid-all.js"></script>

    <script type="text/javascript" src="/sakai-assignment-tool/js/assignments-reorder.js"></script>
		<style type="text/css">
			@import url("/sakai-assignment-tool/css/assignment.css");
		</style>

<div class="portletBody" xmlns:wairole="http://www.w3.org/2005/01/wai-rdf/GUIRoleTaxonomy#"  xmlns:aaa="http://www.w3.org/2005/07/aaa">
	#if ($allowAddAssignment || ($withGrade && $!allowGradeSubmission))
	## for user who cannot create assignment nor grade submission, no need to show "Assignment List" link at all since there is really no other toolbar choices
	<ul class="navIntraTool actionToolBar" role="menu">
		#set($prevAction=false)
		#if ($allowAddAssignment)
			#set($prevAction=true)
			<li  class="firstToolBarItem" role="menuitem">			
				<span><a href="#toolLink("$action" "doNew_assignment")" title="$!tlang.getString("new")">$!tlang.getString("new")</a></span>
			</li>	
		#end
		#if (!$!view.equals('lisofass1'))
			#set($prevAction=true)
			<li #if ($prevAction==false) class="firstToolBarItem" #set($prevAction=true)  #end role="menuitem">			
				<span><a href="#toolLinkParam("$action" "doView" "view=lisofass1")" title="$!tlang.getString('lisofass1')">$!tlang.getString('lisofass1')</a></span>
			</li>	
		#else
			<li role="menuitem" aria-disabled="true">
				<span class="disabled">$!tlang.getString("lisofass1")</span>
			</li>	
		#end
		#if ($withGrade && $!allowGradeSubmission)
			<li #if ($prevAction==false) class="firstToolBarItem" #set($prevAction=true)  #end role="menuitem">
				<span><a href="#toolLinkParam("$action" "doView" "view=grarep")" title="$!tlang.getString("gen.grarep")">$!tlang.getString("gen.grarep")</a></span>
			</li>	
		#end
		#if ($allowAddAssignment)
			#if (!$!view.equals('stuvie'))
				<li #if ($prevAction==false) class="firstToolBarItem" #set($prevAction=true)  #end role="menuitem">
					<span><a href="#toolLinkParam("$action" "doView" "view=stuvie")" title="$!tlang.getString("gen.stuvie")">$!tlang.getString("gen.stuvie")</a></span>
				</li>	
			#else
				<li  #if ($prevAction==false) class="firstToolBarItem" #set($prevAction=true)  #end role="menuitem" aria-disabled="true">
					<span class="disabled">$!tlang.getString("gen.stuvie")</span>
				</li>	
			#end
		#end
		#if (($allowAllGroups) && ($assignmentscheck))
			<li  #if($prevAction==false) class="firstToolBarItem" #set($prevAction=true)  #end role="menuitem" aria-disabled="true">
				<span class="current">$tlang.getString('gen.reorder')</span>
			</li>	
		#end
		#if ($allowUpdateSite)
		<li  #if ($prevAction==false) class="firstToolBarItem" #set($prevAction=true) #end role="menuitem" aria-disabled="true">
			<span><a href="#toolLink("$action" "doPermissions")" title="$tlang.getString('permis')">$tlang.getString('permis')</a></span>
		</li>	
		#end
	</ul>
	#end
	#if ($alertMessage)<div class="alertMessage" style="width:80%  !important">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div><div style="display:block;clear:both"></div>#end
	
	<form name="reorderForm" id="reorderForm" action="#toolForm("AssignmentAction")" method="post" onsubmit="return true;">
		<input name="assignmentSize" id="assignmentSize" value="$assignmentsize" type="hidden" />
		<input type="hidden" name="option" id="option" value="" />
		<input type="hidden" name="view" id="view" value="" />
		<input type="hidden" name="eventSubmit_doAssignment_form" value="" />
		<h3>
			$tlang.getString("gen.reordertitle")
		</h3>
		<div class="instruction">
			$tlang.getString("gen.sortinstruct")
		</div>
		<ul class="itemAction noPrint">
			<li style="display:inline">
				<span id="undo-last-inact" style="padding:0 .3em 0 0;border:none">Undo last</span>
				<a href="#" id="undo-last" onclick="undoLast(event)" style="display:none">Undo last</a>
			</li>
			<li style="display:inline;border-left:1px solid #ccc;padding-left:1em">
				<span id="undo-all-inact"  style="padding:0 .3em 0 0;border:none">Undo all</span>
					<a id="undo-all" href="#"  onclick="undoAll(event)" style="display:none">Undo all</a>
			</li>
			<li style="display:inline;color:#000">
				<span id="messageHolder" class="messageSuccess" style="display:none"> </span>
			</li>
		</ul>	
		<span id="lastMoveArray" style="display:none"></span>
		<span id="lastMoveArrayInit" style="display:none"></span>
		<span id="lastItemMoved"  style="display:none"></span>
		<table id="assignment-reorder" class="listHier lines nolines" summary="$tlang.getString("sort.summary")" border="0" cellspacing="0" cellpadding="0">
			<caption class="skip" style="display: none;">$tlang.getString("sort.caption")</caption>
			<tbody>
			<tr>
			<th id="textField" class="attach">
			</th>
				<th id="title">
					$tlang.getString("gen.asstit")
				</th>
				<th id="open">
					$tlang.getString("gen.open")
				</th>
				<th id="due">
					$tlang.getString("gen.due1")
				</th>
			</tr>
			#set($count = 1)
			#foreach($assignment in $assignments)

			<tr class="sortable"  id="assignment.orderable$count">
				<td header="textField" style="white-space:nowrap" class="grabHandle">
					<input type="text" size="3" value="$count" id="index$count"/>
					<input type="hidden"  size="3" id="holder$count"  value="$count" tabindex="-2"/>
				</td>
				<td headers="title" class="title">
					<h4>$!assignment.getTitle()</h4>
				</td>
				<td headers="open" class="open">
					$!assignment.openTime.toStringLocalFull()
				</td>
				<td headers="due" class="close">
					$!assignment.dueTime.toStringLocalFull()
				  <select name="position_$validator.escapeUrl("$assignment.id")" onchange="moveRow(this,this.value);" class="selectSet" style="display:none">
					#foreach($i in [1..$assignmentsize])
					<option value="$i"#if("$i" == "$count") selected="selected"#end>$i</option>
					#end
				  </select>
				</td>
			</tr>
			#set($count = $count + 1)
			#end
			</tbody>
		</table>
		<p class="act" style="margin:0;padding:.3em 0;">
			<input type="button" name="save" value="$tlang.getString("gen.sav")" onclick="javascript:document.reorderForm.onsubmit();document.getElementById('option').value='reorder';document.reorderForm.submit();return false;" class="active" accesskey="s" />
			<input type="button" name="cancel" value="$tlang.getString("gen.can")" onclick="javascript:document.reorderForm.onsubmit();document.getElementById('option').value='cancelreorder';document.reorderForm.submit();return false;" accesskey="x" />
		</p>
	</form>						

</div>
