	.toggleAnchor{
		border:1px solid #cef;
		background:#cef  !important;
		padding:5px!important;
		cursor:pointer
	}
	.toggleAnchor:hover,	.toggleAnchorOpen:hover{
		border:1px solid #9cf;
	}

	.toggleAnchorOpen{
		border:1px solid #cef;
		background:#cef !important;
		padding:5px!important;
		cursor:pointer
	}
	.toggledContent{
		margin:0;
		border:2px solid #cef;
		border-top:none;
		padding: 1em
	}
	.toggledContent h4{
		color:#000 !important;
		width:40em;
		margin:.5em 0 !important;
		padding:.3em 0;
		border-bottom:2px solid #ccc
	}
} #assignment-reorder tr {
    width: 100%;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
 #assignment-reorder td.grabHandle {
	padding-left:20px;
	background: url(../images/grab.png) top left repeat-y
	}
.orderable-hover td.grabHandle{
	background: url(../images/grabh.png) top left repeat-y !important
	}
 .recentMove td.grabHandle{
	background: url(../images/grabh.png) top left repeat-y !important
	}

/*marks a drop zone*/
.orderable-selected{
	border:none;
	outline:none
}
.orderable-drop-marker {
    width: 50%;
	border:1px solid #ccc !important;
    height: 30px; /*ok*/
}

/*hover over a selectable item*/ .orderable-hover {
    cursor: move;

}

/* item left behind */ .orderable-dragging {
    background: #eee;
    outline: 1px dashed #aaa;
    color: #555 !important
}

/*item being dragged*/ .orderable-avatar {
    opacity: 0.55;
    background: #bea !important;
	width:50% !important;
} 
.orderable-avatar td {
    vertical-align: middle !important;
    padding: .4em
}
 .orderable-avatar td.open,  .orderable-avatar td.close, .orderable-avatar input{
 	display:none
 }  
 .orderable-avatar td h4, .orderable-avatar td h5, .orderable-avatar td h6, .orderable-avatar input {
    padding: 0;
    margin: 0;
	font-weight:bold
	
} .recentMove {
    background: #def
}
